@import '~@angular/material/theming';

/* Please ignore that for this Job Test */

@include mat-core();

$theme-primary: mat-palette($mat-indigo, 700, 600, 800);
$theme-accent: mat-palette($mat-cyan, A200, A100, A400);
$theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($theme-primary, $theme-accent, $theme-warn);

@include angular-material-theme($theme);
